<!DOCTYPE html>
<html lang="en">
{% block head %}
  <head>
    <title>ПрофиПротокол</title>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/ind.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</head>
<body>

<div class="box">
    <div class="container-fluid d-flex flex-column">
    <div class="row flex-fill">
            <div class="col-sm-12">
                <div class="panel panel-white border-top-green">
                    <div class="panel-body chat">
                        <div class="row chat-wrapper">
                            <div class="col-md-4">
                                <div class="compose-area">
                                    <i class="bi bi-mortarboard" style="font-size: 3rem; color: text-light;"></i><h2><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                                                  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
                                                  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
                                                </svg>ПрофиПротокол</title>
    </h2></a>
                                </div>

                                <div>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 700px;">
                                    <div class="chat-list-wrapper" style="overflow-y: auto; width: auto; height: 700px;">
                                        <div class="card" style="width: 40rem;">
                                          <img src="static/css/images/img.png" class="card-img-top" alt="...">
                                          <div class="card-body">

                                            <h5 class="card-title">ПрофиПротокол</h5>
                                            <p class="card-text">ПрофиПротокол - это ваш надежный юридический помощник в мире потребительских претензий. Наш сайт предоставляет удобный и интуитивно понятный сервис для составления и заполнения заявлений и протоколов, связанных с нарушениями прав потребителей.</p>
                                          </div>

                                          <div class="card-body">
                                            <a href="https://t.me/AILawerbot" class="card-link">Ссылка на телеграмм бот</a>

                                          </div>
                                        </div>


                                    </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 700px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                                </div>

                            </div>

                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                                    <div class="message-list-wrapper" style="overflow: hidden; width: auto; height: 100%;">
                                        <ul class="message-list">
                                            <div class="text-center">
                                                 <li class="text-right">
                                                <a href=" {{url_for('login_page')}}" class="btn btn-danger btn-lg">Назад</a>
                                            </li>
                                                <h4>Заполните необходимые поля для составления искового заявления <h4>
                                                </div>

                                                 <div class="container-fluid d-flex flex-column">
                                                        <div class="row flex-fill">
                                                             <div class="col-sm-10">
                                                                 Личные данные - ИСТЕЦ
                                                          </div>
                                                            </div>
                                                   <div class="box">
                                                      <form action="/submit" method="POST" class="form-control" >
                                                      {{ form.hidden_tag() }}
                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Фамилия</label>
                                                        <div class="col-sm-10">
                                                            {{ form.Firstname_plaintiff(required="required", class="form-control") }}


                                                         </div>
                                                      </div>

                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Имя</label>
                                                        <div class="col-sm-10">
                                                          {{ form.Lastname_plaintiff(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Отчество</label>
                                                        <div class="col-sm-10">
                                                          {{ form.Surname_plaintiff(required="required", class="form-control") }}
                                                         </div>
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Место жительства или пребывания</label>

                                                        <div class="col-sm-10">
                                                          {{ form.Plaintiff_place_of_birth(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                        <div class="form-group">
                                                              <label> Укажите номер участка МИРОВОГО СУДЬИ</label>
                                                           {{ form.Judicial_sector_number(required="required", class="form-control") }}
                                                          </div>

                                                        <div class="form-group">
                                                              <label>Укажите адрес участка МИРОВОГО СУДЬИ</label>
                                                            {{ form.Judicial_sector_adress(required="required", class="form-control") }}
                                                          </div>

                                                      <div class="form-group">
                                                            <label>Один из идентификаторов:
                                                                                            СНИЛС, ИНН, серия и номер паспорта,
                                                                                            серия и номер водительского удостоверения</label>
                                                             {{ form.Plantiff_identificator(required="required", class="form-control") }}
                                                          </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Телефон/факс</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Plantiff_number(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Адрес электронной почты</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Plantiff_email(required="required", class="form-control") }}
                                                        </div>
                                                        <div class="col-sm-10">
                                                            Дата рождения
                                                     <div class="form-group"> <label for="date_discovered">
                                                     </label> <input type="date" class="form-control"  name="date_discovered" id="date_discovered" required> </div>
                                                      </div>
                                                           </div>
                                                      <div class="text-center">
                                                        <h3> Eсли заявление подается представителем <h3>
                                                          </div>
                                                      <div class="text-center">
                                                          Личные данные - ПРЕДСТАВИТЕЛЯ ИСТЦА.
                                                          </div>


                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Наименование</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Plantiffs_representative_name(required="required", class="form-control") }}
                                                        </div>
                                                      </div>


                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Адрес для направления судебных, извещений</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Plantiffs_representative_adress(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                            <label >Один из идентификаторов:
                                                                                            СНИЛС, ИНН, серия и номер паспорта,
                                                                                            серия и номер водительского удостоверения</label>
                                                             {{ form.Plantiffs_representative_identificate(required="required", class="form-control") }}
                                                          </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Телефон/факс</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Plantiffs_representative_number(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Адрес электронной почты</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Plantiffs_representative_email(required="required", class="form-control", placeholder="Пожалуйста, введите адрес электронной почты") }}
                                                        </div>
                                                      </div>
                                                          <div class="text-center">
                                                          Личные данные - ОТВЕТЧИК

                                                          </div>

                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Наименование</label>
                                                        <div class="col-sm-10">
                                                          {{ form.Defendant_name(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Адрес</label>
                                                        <div class="col-sm-10">
                                                           {{ form.Defendant_adress(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">ИНН</label>
                                                        <div class="col-sm-10">
                                                          {{ form.Defendant_INN(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">ОГРН</label>
                                                        <div class="col-sm-10">
                                                          {{ form.Defendant_OGRN(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Телефон/факс:</label>
                                                        <div class="col-sm-10">
                                                         {{ form.Defendant_number(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="form-group row">
                                                        <label  class="col-sm-2 col-form-label">Адрес электронной почты:</label>
                                                        <div class="col-sm-10">
                                                          {{ form.Defendant_email(required="required", class="form-control") }}
                                                        </div>
                                                      </div>
                                                      <div class="text-center">
                                                        <h3> Исковое заявление о защите прав потребителей  <h3>
                                                            </div>
                                                            <div class="container">
                                                        <div class="text-left">
                                                          Дата (Число, месяц, год)
                                                          </div>
                                                     <div class="date_main"> <label for="date_main"></label>
                                                         <input type="date" class="form-control" id="date_main" name="date_main"  required>
                                                     </div>
                                                                  <div class="form-group">
                                                                    <label>Наименование ответчика:</label>
                                                                    {{ form.Defendant_name(required="required", class="form-control") }}
                                                                  </div>
                                                                  <div class="form-group">
                                                                    <label>Наименование филиала:</label>
                                                                    {{ form.Branch_name(class="form-control") }}

                                                                  </div>
                                                                  <div class="form-group">
                                                                    <label>Наименование истца:</label>
                                                                    {{ form.Plantiffs_representative_name(required="required", class="form-control") }}
                                                                  </div>
                                                                  <div class="form-group">
                                                                    <label>Номер договора:</label>
                                                                   {{ form.Contract_number(required="required", class="form-control") }}
                                                                  </div>

                                                                  <div class="form-group">
                                                                    <label>Детали договора:</label>
                                                                      {{ form.Contract_necessary(required="required", class="form-control") }}

                                                                  </div>
                                                                  <div class="form-group">
                                                                    <label>Стоимость услуг сумма цифрами: </label>
                                                                    {{ form.Sum_services(required="required", class="form-control") }}
                                                                  </div>
                                                                 <div class="form-group">
                                                                    <label>Стоимость услуг сумма прописью:</label>
                                                                    {{ form.Sum_services_words(required="required", class="form-control") }}
                                                                  </div>
                                                                <div class="text-left">
                                                                    Дата платежа (Число, месяц, год):
                                                                </div>
                                                     <div class="paymentDate"> <label for="paymentDate">
                                                     </label> <input type="date" class="form-control" id="paymentDate" name="paymentDate" required> </div>

                                                                  <div class="form-group">
                                                                    <label>Сумма платежа цифрами:</label>
                                                                    {{ form.Sum_credited_account(required="required", class="form-control") }}
                                                                  </div>
                                                                    <div class="form-group">
                                                                    <label>Сумма платежа прописью:</label>
                                                                    {{ form.Sum_credited_account_words(required="required", class="form-control") }}
                                                                  </div>
                                                                <div class="text-left">
                                                                    Платежное поручение
                                                                </div>
                                                     <div class="paymentProof"> <label for="paymentProof">
                                                     </label> <input type="date" class="form-control" id="paymentProof" name="paymentProof"  required > </div>

                                                                    <div class="form-group">
                                                                    <label> Номер платежного поручения:</label>
                                                                    {{ form.Assignment_number(required="required", class="form-control") }}
                                                                  </div>
                                                                 <div class="form-group"> <label for="date_discovered">Дата обнаружения недостатков:</label>
                                                                     <input type="date" class="form-control" id="date_discovered2" name="date_discovered2" required>
                                                                 </div>
                                                                    <div class="form-group">
                                                                        <div class="col">
                                                                        <label>Обнаруженные недостатки:</label>
                                                                        {{ form.Flaws(required="required", class="form-control") }}
                                                                            </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="notification_date">Дата направления уведомления:</label>
                                                                        <input type="date" class="form-control" id="notification_date"  name="notification_date" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Филиал в который направлено уведомления:</label>
                                                                        {{ form.Branch_name(required="required", class="form-control") }}
                                                                    </div>

                                                              </div>
                                                          <div class="form-group">
                                                              <label>Сумма взысканной неустойки цифрами (пени)</label>
                                                              {{ form.Sum_moral_injury(required="required", class="form-control") }}
                                                          </div>
                                                         <div class="form-group">
                                                              <label>Сумма взысканной неустойки прописью (пени)</label>
                                                              {{ form.Sum_moral_injury_words(required="required", class="form-control") }}
                                                          </div>
                                                              <div class="form-group"> <label>Сумма компенсации морального вреда цифрами</label>
                                                                  {{ form.Sum_penalty(required="required", class="form-control") }}
                                                              </div>
                                                              <div class="form-group"> <label>Сумма компенсации морального вреда прописью</label>
                                                                  {{ form.Sum_penalty_words(required="required", class="form-control") }}
                                                              </div>
                                                              <div class="form-group">
                                                                  <label>Сведения о предпринятых действиях, направленных на примирение:</label>
                                                                  {{ form.Reconcilation(required="required", class="form-control") }}
                                                              </div>
                                                              <div class="form-group">
                                                                  <label>Обязать Ответчика безвозмездно устранить существенный недостаток, а именно:</label>
                                                                  {{ form.Eliminate_deficiency(required="required", class="form-control") }}
                                                              </div>
                                                               <div class="form-group"> <label>Взыскать с Ответчика в мою пользу неустойку в размере (сумма цифрами) :</label>
                                                                  {{ form.Sum_moral_injury(required="required", class="form-control") }}
                                                              </div>
                                                               <div class="form-group"> <label>Взыскать с Ответчика в мою пользу неустойку в размере (сумма прописью) :</label>
                                                                  {{ form.Sum_moral_injury_words(required="required", class="form-control") }}
                                                              </div>
                                                              <div class="form-group">
                                                                  <label>Взыскать с Ответчика в мою пользу компенсацию морального вреда в размере (сумма цифрами):</label>
                                                                  {{ form.Sum_penalty(required="required", class="form-control") }}
                                                              </div>
                                                              <div class="form-group">
                                                                  <label>Взыскать с Ответчика в мою пользу компенсацию морального вреда в размере (сумма прописью):</label>
                                                                  {{ form.Sum_penalty_words(required="required", class="form-control") }}
                                                              </div>
                                                            <div class="col-sm-10">
                                                                Дата копии договора на оказания услуг
                                                         <div class="form-group"> <label for="date_discovered">
                                                         </label> <input type="date" class="form-control" id="date_contract" name="date_contract" required> </div>
                                                          </div>
                                                              <div class="form-group">
                                                                  <label>Документы, подтверждающие совершение стороной (сторонами) действий,
                                                                      направленных на примирение
                                                          </label>
                                                                  {{ form.Documents_flaws(required="required", class="form-control") }}
                                                              </div>
                                                      <div class="col-sm-10">
                                                                Дата копии уведомления ответчику
                                                         <div class="form-group"> <label for="date_copy">
                                                         </label> <input type="date" class="form-control" id="date_copy" name="date_copy" required> </div>
                                                          </div>
                                                              <div class="form-group">
                                                                  <label>Номер копии договора</label>
                                                                  {{ form.Number_contract(required="required", class="form-control") }}
                                                              </div>
                                                              <div class="form-group">
                                                                  <label>Другие документы подтверждающие обстоятельства, на которых истец основывает свои требования </label>
                                                                  {{ form.Other_documents(required="required", class="form-control") }}
                                                              </div>
                                                                 {{ form.submit(class="btn btn-primary btn-lg", id="submitButton") }}
                                                        </form>



                                                   </div>
                                             </div>
                                    </div>
                                </div>
                            </div>

          </div>
        </div>
      </div>

    </div>
   </div>
  </div>
</div>

            </body>
            <footer class="bg-dark text-center text-white">
              <!-- Grid container -->
              <div class="container p-4 pb-0">
                <!-- Section: Form -->
                <section class="">
                  <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                      <!--Grid column-->
                      <div class="col-auto">
                        <p class="pt-2">
                          <strong>Оставь отзыв на email</strong>
                        </p>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                          <input type="email" id="form5Example29" class="form-control" />
                          <label class="form-label" for="form5Example29">Email</label>
                        </div>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                          Отправить
                        </button>
                      </div>
                      <!--Grid column-->
                    </div>
                    <!--Grid row-->
                  </form>
                </section>
                <!-- Section: Form -->
              </div>
              <!-- Grid container -->

              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 год
                <a>КОМАНДА AILOWER</a>
              </div>
              <!-- Copyright -->
            </footer>
    </html>
    {% endblock -%}
