<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/result.css">
  <style>
    body {
      background: url("j") fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .download-button {
      background-color: red;
      color: white;
      padding: 10px 20px;
      font-size: 18px;
      border: none;
    }
    footer {
      background-color: #f8f9fa;
      padding: 20px;
      text-align: center;
    }
     .footer-bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f8f9fa;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     }

  </style>
  <title>Скачать полученный файл</title>
</head>
<body>
  <div class="banner">
    <h1>Ваш обработанный документ </h1>
    <a href="{{url_for('index')}}" class="btn btn-secondary rounded-circle">Назад</a>
    </button>
  <a href="{{ url_for('download', filename=filename) }}" class="btn btn-danger btn-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-arrow-down" viewBox="0 0 16 16">
      <path d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"/>
      <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
    </svg> Скачать
  </a>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>




  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
  <footer>
    <div class="col-auto">
                        <p class="pt-2">
                          <h4>Мы искренне благодарим вас, уважаемые {{ data.Lastname_plaintiff }} {{ data.Surname_plaintiff }} , за использование нашего сервиса. </h4>
                          <p class="lead"> Хотим выразить искреннюю благодарность всем вам за то, что вы выбрали наш юридический сервис для удовлетворения своих потребностей в области юридических протоколов. Ваше доверие и предпочтение означают для нас невероятно много.</p>
                        </p>
                      </div>


  </footer>
    <footer class="footer-bottom">
        <div class="container">
            <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <body>
        <footer class="nb-footer">
        <div class="container">
        <div class="row">
        <div class="col-sm-12">
        <div class="about">
          <img src="images/logo.png" class="img-responsive center-block" alt="">
          <div class="social-media">
            <ul class="list-inline">
               <a href="https://t.me/AILawerbot" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
               </svg> Наш телеграмм бот   </a>


            </ul>
          </div>
        </div>
        </div>




        <div class="footer-info-single">
          <h2 class="title">Информация о команде</h2>
          <p>AILOWER - команда-стартап, специализирующаяся на разработке нейросетевых языковых моделей для компаний. Мы создаем интеллектуальные системы, которые могут анализировать и понимать естественный язык, а также выполнять сложные задачи обработки текста.</p>

        </div>
        </div>
        </div>
        </div>

        <section class="copyright">
        <div class="container">
        <div class="row">
        <div class="col-sm-6">

        <p> © 2017. КОМАНДА AILOWER.</p>
        </div>
        <div class="col-sm-6"></div>
        </div>
        </div>
        </section>


      </footer>